fastapi
uvicorn
python-dotenv
pydantic
langchain-nvidia-ai-endpoints
langgraph
langchain-core
python-multipart
httpx
joblib
numpy
opencv-python-headless
librosa
soundfile
scikit-learn
Pillow
aiohttp
deepface
tf-keras
